Cython==0.22.1
numpy==1.12.0
alabaster==0.7.3
appnope==0.1.0
appscript==1.0.1
argcomplete==0.8.9
astropy==1.0.3
Babel==1.3
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.4.0.2
bcolz==0.9.0
beautifulsoup4==4.3.2
binstar==0.11.0
bitarray==0.8.1
blaze==0.8.0
bleach==1.5.0
blz==0.6.2
bokeh==0.9.0
boto==2.38.0
Bottleneck==1.0.0
cdecimal==2.3
certifi==14.5.14
cffi==1.9.1
click==6.7
clyent==0.3.4
CodeIntel==0.9.3
colorama==0.3.3
conda==4.2.13
conda-build==1.14.1
configobj==5.0.6
configparser==3.5.0
cryptography==1.7.1
cycler==0.10.0
cytoolz==0.7.3
datashape==0.4.5
decorator==3.4.2
dj-database-url==0.4.2
Django==1.11
docutils==0.12
entrypoints==0.2.2
enum34==1.1.6
fastcache==1.0.2
flake8==2.5.1
funcsigs==0.4
geocoder==1.22.4
geopy==1.11.0
gevent==1.0.1
gevent-websocket==0.9.3
greenlet==0.4.7
grin==1.2.1
gunicorn==19.7.1
h5py==2.6.0
haversine==0.4.5
html5lib==0.9999999
httplib2==0.9.2
idna==2.2
Inflector==2.0.11
ipaddress==1.0.18
ipykernel==4.5.2
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
itsdangerous==0.24
jdcal==1.0
jedi==0.8.1
Jinja2==2.7.3
jsonschema==2.4.0
llvmlite==0.5.0
lxml==3.4.4
MarkupSafe==0.23
matplotlib==1.5.1
mccabe==0.3.1
mistune==0.5.1
mock==1.0.1
mongoengine==0.10.5
mpld3==0.2
multipledispatch==0.4.7
musicbrainzngs==0.5
nbconvert==5.1.1
nbformat==4.2.0
networkx==1.11
nltk==3.2.2
nose==1.3.7
nose-parameterized==0.5.0
notebook==4.3.1
numba==0.19.1
numexpr==2.6.2
oauth2==1.5.1.212
odo==0.3.2
openpyxl==1.8.5
pandas==0.19.2
pandoc==1.0.0b2
pandocfilters==1.4.1
pathlib2==2.2.0
patsy==0.3.0
pbr==1.8.1
pep8==1.5.7
pexpect==3.3
pickleshare==0.7.4
Pillow==2.8.2
plotly==2.0.2
ply==3.6
pocketsphinx==0.1.3
progressbar==2.3
prompt-toolkit==1.0.9
protobuf==3.0.0b2
psutil==2.2.1
ptyprocess==0.4
PuLP==1.6.1
py==1.4.27
py7D==0.2
pyasn1==0.1.9
PyAudio==0.2.9
pycosat==0.6.1
pycparser==2.17
pycrypto==2.6.1
pycurl==7.19.5.1
pyechonest==9.0.0
pyflakes==0.9.2
Pygments==2.0.2
pymongo==3.2
pyOpenSSL==16.2.0
pyparsing==1.5.7
pyserial==3.1.1
pyshp==1.2.10
pytest==2.7.1
python-dateutil==2.6.0
python-oauth2==1.0.0
pytz==2016.10
PyYAML==3.11
pyzillow==0.5.5
pyzmq==14.7.0
qtconsole==4.2.1
ratelim==0.1.6
redis==2.10.3
requests==2.12.4
rope==0.9.4
runipy==0.1.3
scandir==1.4
scikit-image==0.12.3
scikit-learn==0.18.1
scipy==0.18.1
seaborn==0.7.1
selenium==3.3.0
simplegeneric==0.8.1
six==1.10.0
snowballstemmer==1.2.0
sockjs-tornado==1.0.1
SpeechRecognition==3.4.6
Sphinx==1.3.1
sphinx-rtd-theme==0.1.7
spyder==2.3.5.2
SQLAlchemy==1.0.5
statsmodels==0.6.1
stevedore==1.10.0
subprocess32==3.2.7
sympy==0.7.6
tables==3.2.0
tensorflow==0.9.0
terminado==0.5
testpath==0.3
Theano==0.9.0.dev4
toolz==0.7.2
tornado==4.2
traitlets==4.3.1
ujson==1.33
unicodecsv==0.9.4
virtualenv==15.0.3
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
wcwidth==0.1.7
Werkzeug==0.10.4
whitenoise==3.3.0
widgetsnbextension==1.2.6
WTForms==2.1
xgboost==0.6
xlrd==0.9.3
XlsxWriter==0.7.3
xlwings==0.3.5
xlwt==1.0.0
xmltodict==0.9.2
zipcode==2.0.0
zope.cachedescriptors==4.1.0
