a.logo {
  font-size: 20px;
  padding-left: 10px;
}

input.value-min {
  font-size: 12px;
}

div.percent input.value-min {
  width:52% !important;
  float: right !important;
  text-align: left !important;
}

input.value-max {
  font-size: 12px;
}
