{% extends "twohomez/base.html" %}
{% load static %}
{% load twohomez_extras %}
{% load humanize %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'twohomez/css/owl.carousel.css' %}" type="text/css">
{% endblock %}

{% block page_title %}
<title>2Homez | {{house.address0}} </title>
{% endblock %}

{% block content %}
<div id="page-content">
  <div class="container" style="width:1020px;">
    <ol class="breadcrumb">

    </ol>
    <div class="row">
      <div class="col-md-9 col-sm-9">
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <section>
              <div class="gallery detail">
                <div class="owl-carousel" data-owl-nav="0" data-owl-dots="1">
                  <div class="image">
                    <div class="bg-transfer"><img src="{{house.pic_url}}" alt=""></div>
                  </div>
                </div>
                <!--end owl-carousel-->
              </div>
              <!--end gallery-->
            </section>

            <section>
              <section class="page-title">
                <div class="col-md-8">
                  <h1>{{house.address0}}</h1>
                  <h2 style="color:black">{{house.address1}}</h2>
                  <h2 style="color:black">{{house.num_bedrooms}} bds &middot {{house.num_bathrooms}} ba</h2>
                </div>
                <!--end page-title-->
                <div class="col-md-4">
                  <a style="margin-top:5px; margin-bottom:15px;" href="{{house.zillow_url}}" target="_blank"  class="btn btn-primary btn-framed btn-rounded btn-light-frame icon scroll"><i class="fa fa-external-link"></i>See on Zillow</a>
                  <h2 >${{house.listing_price|intcomma}}</h3>
                </div>
              </section>
            </section>
            <section class="box">
              <div class="row">
                <div class="col-md-12 text-center" style="padding-top:5px;padding-bottom:10px;">
                  Planned Rental Availability:
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                    <div id="fall_slide" class="ui-slider percent inter" data-value-min="0" data-value-max="100" data-value-type="percent" data-value-start="{{fall_avail}}">
                        <div class="values clearfix">
                            <input class="value-min" name="fall_avail" readonly>
                        </div>
                        <div class="element"></div>
                    </div>
                    <!--end price-slider-->
                    <div class="text-center" style="padding-left: 10px;">
                      Fall
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="winter_slide" class="ui-slider percent inter" data-value-min="0" data-value-max="100" data-value-type="percent" data-value-start="{{winter_avail}}">
                        <div class="values clearfix">
                            <input class="value-min" name="winter_avail" readonly>
                        </div>
                        <div class="element"></div>
                    </div>
                    <!--end price-slider-->
                    <div class="text-center" style="padding-left: 10px;">
                      Winter
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="spring_slide" class="ui-slider percent inter" data-value-min="0" data-value-max="100" data-value-type="percent" data-value-start="{{spring_avail}}">
                        <div class="values clearfix">
                            <input class="value-min" name="spring_avail" readonly>
                        </div>
                        <div class="element"></div>
                    </div>
                    <!--end price-slider-->
                    <div class="text-center" style="padding-left: 10px;">
                      Spring
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="summer_slide" class="ui-slider percent inter" data-value-min="0" data-value-max="100" data-value-type="percent" data-value-start="{{summer_avail}}">
                        <div class="values clearfix">
                            <input class="value-min" name="summer_avail" readonly >
                        </div>
                        <div class="element"></div>
                    </div>
                    <!--end price-slider-->
                    <div class="text-center" style="padding-left: 10px;">
                      Summer
                    </div>
                </div>
              </div>
            </section>
            <section class="box">
              <h2>2Homez Rental Estimates</h2>
              <dl>
                <dt>Fall Daily Rental Estimate</dt>
                <dd id="fall_rate" data-rate="{{house.fall_rent_day}}">${{house.fall_rent_day|intcomma}}</dd>
                <dt>Winter Daily Rental Estimate</dt>
                <dd id="winter_rate" data-rate="{{house.winter_rent_day}}">${{house.winter_rent_day|intcomma}}</dd>
                <dt>Spring daily Rental Estimate</dt>
                <dd id="spring_rate" data-rate="{{house.spring_rent_day}}">${{house.spring_rent_day|intcomma}}</dd>
                <dt>Summer daily Rental Estimte</dt>
                <dd id="summer_rate" data-rate="{{house.summer_rent_day}}">${{house.summer_rent_day|intcomma}}</dd>
                <dt></dt>
                <dd></dd>
                <dt>Base Mortgage Amount</dt>
                <dd id="mortgage_rate" data-rate="{{house.mortgage}}">${{house.mortgage|intcomma}}</dd>
                <dt>Average monthly Rental income</dt>
                <dd id="income_rate">-  ${{house_income|intcomma}}</dd>
                <dt></dt>
                <dd>----------------</dd>
                <dt>2Homez net estimated monthly cost</dt>
                <dd id="net_cost">${{net_cost|intcomma}}</dd>
              </dl>
            </section>

          </div>
          <!--end col-md-6-->
          <div class="col-md-4 col-sm-12">
            <section>
              <div class="detail-sidebar">
                <section class="shadow">
                  <div class="map height-250px" id="map-detail"></div>
                  <!--end map-->
                  <div class="content">

                    <address>
                      <figure><i class="fa fa-map-marker"></i>{{house.address0}}<br>{{house.address1}}
                        {% if house.address1 %}<br>{%endif%}
                        {{house.city}}, {{house.state}} {{house.zip_code}}
                      </figure>
                      <figure><i class="fa fa-envelope"></i>
                        <a href="#">email@example.com</a>
                      </figure>
                      <figure><i class="fa fa-phone"></i>316-436-8619</figure>
                    </address>
                  </div>
                </section>
              </div>
              <!--end detail-sidebar-->
            </section>
            <section>
              <h2>Features</h2>
              <ul class="tags">
                <li>Balcony</li>
                <li>Washer/Dryer</li>
                <li>Great Schools</li>
                <li>Near Transit</li>
              </ul>
            </section>
          </div>
          <!--end col-md-3-->
        </div>
        <!--end row-->
      </div>
      <!--end col-md-9-->

      <div class="col-md-3 col-sm-3">
        <aside class="sidebar">
          <section>
            <div class="form search-form inputs-underline">
              <form action="/search_listings/" , method="post">
                {% csrf_token %}
                <div class="section-title">
                  <h2>New Search</h2>
                </div>
                <div class="form-group">
                  <select class="form-control selectpicker" name="city" title="City">
                    <option value="0">San Francisco</option>
                  </select>
                </div>
                <div class="form-group">
                  <select class="form-control selectpicker" name="neighborhoods[]" multiple title="Neighborhoods"
                          data-actions-box="true" data-live-search="true">
                    {% for n in neighborhoods %}
                    <option value="{{forloop.counter0}}">{{ n }}</option>
                    {% endfor %}
                  </select>
                </div>
                  <div class="ui-slider" id="price-slider" data-value-min="10000" data-value-max="30000000" data-value-type="price" data-currency="$" data-currency-placement="before">
                    <div class="values clearfix">
                      <input class="value-min" name="price-min[]" readonly>
                      <input class="value-max" name="price-max[]" readonly>
                    </div>
                    <div class="element"></div>
                  <!--end col-md-6-->
                </div>
                <!--end row-->
                <div class="row">
                  <div class="col-md-12 text-center" style="padding-top:5px;padding-bottom:10px;">
                    Planned Rental Availability:
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                      <div class="ui-slider percent" data-value-min="0" data-value-max="100" data-value-type="percent" data-value-start="{{fall_avail}}">
                          <div class="values clearfix">
                              <input class="value-min" name="fall_avail" readonly>
                          </div>
                          <div class="element"></div>
                      </div>
                      <!--end price-slider-->
                      <div class="text-center" style="padding-left: 10px;">
                        Fall
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="ui-slider percent" data-value-min="0" data-value-max="100" data-value-type="percent" data-value-start="{{winter_avail}}">
                          <div class="values clearfix">
                              <input class="value-min " name="winter_avail" readonly>
                          </div>
                          <div class="element"></div>
                      </div>
                      <!--end price-slider-->
                      <div class="text-center" style="padding-left: 10px;">
                        Winter
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="ui-slider percent" data-value-min="0" data-value-max="100" data-value-type="percent" data-value-start="{{spring_avail}}">
                          <div class="values clearfix">
                              <input class="value-min" name="spring_avail" readonly>
                          </div>
                          <div class="element"></div>
                      </div>
                      <!--end price-slider-->
                      <div class="text-center" style="padding-left: 10px;">
                        Spring
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="ui-slider percent" data-value-min="0" data-value-max="100" data-value-type="percent" data-value-start="{{summer_avail}}">
                          <div class="values clearfix">
                              <input class="value-min" name="summer_avail" readonly>
                          </div>
                          <div class="element"></div>
                      </div>
                      <!--end price-slider-->
                      <div class="text-center" style="padding-left: 10px;">
                        Summer
                      </div>
                  </div>
                </div>
                <div class="form-group" style="padding-top:15px;">
                  <button type="submit" class="btn btn-primary pull-right">Search Now <i class="fa fa-search"></i></button>
                </div>
                <!--end form-group-->
              </form>
              <!--end form-hero-->
            </div>
          </section>
          <section style="padding-top:30px;" class="box">
            <h2>Similar Listings</h2>
            {% for home in similar_homes %}
              <div class="item" data-id="1">
                <a href="/homes/{{home.id}}/details">
                  <div class="description">
                    <div class="label label-default">{{home.sale_type}}</div>
                    <h3>{{home.address0}}</h3>
                    <h4>{{home.address1}}</h4>
                    <h4>{{home.num_bedrooms}} bds &middot {{home.num_bathrooms}} ba</h4>
                    <h4>${{home.listing_price|intcomma}}</h5>
                  </div>
                  <!--end description-->
                  <div class="image bg-transfer">
                    <img src="{{home.pic_url}}" alt="">
                  </div>
                  <!--end image-->
                </a>
                <div class="controls-more">
                  <ul>
                    <li><a href="{{home.zillow_url}}">See on Zillow</a></li>
                    <li><a href="/homes/{{home.id}}/details">See Details</a></li>
                  </ul>
                </div>
              </div>
            {% endfor %}
            <!--end item-->
          </section>
        </aside>
        <!--end sidebar-->
      </div>
      <!--end col-md-3-->
    </div>
  </div>
  <!--end container-->
</div>
<!--end page-content-->
</div>
<!--end page-wrapper-->
{% endblock %}

{% block page_js %}
<script type="text/javascript" src="{% static 'twohomez/js/jquery.trackpad-scroll-emulator.min.js' %}"></script>
<script type="text/javascript" src="{% static 'twohomez/js/bootstrap-select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'twohomez/js/icheck.min.js' %}"></script>
<script type="text/javascript" src="{% static 'twohomez/js/jquery.validate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'twohomez/js/infobox.js' %}"></script>
<script type="text/javascript" src="{% static 'twohomez/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'twohomez/js/jquery.nouislider.all.min.js' %}"></script>
<script type="text/javascript" src="{% static 'twohomez/js/richmarker-compiled.js' %}"></script>
<script type="text/javascript" src="{% static 'twohomez/js/markerclusterer_packed.js' %}"></script>
<script type="text/javascript" src="{% static 'twohomez/js/maps.js' %}"></script>
<script type="text/javascript" src="{% static 'twohomez/js/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'twohomez/js/jssocials.min.js' %}"></script>

{% endblock %}

{% block page_script %}
<script>
  // rating(".visitor-rating");
  var _latitude = {{house.latitude}};
  var _longitude = {{house.longitude}};
  var element = "map-detail";
  simpleMap(_latitude, _longitude, element);

  var fall_rate = parseFloat($("#fall_rate").data("rate"))
  var winter_rate = parseFloat($("#winter_rate").data("rate"))
  var spring_rate = parseFloat($("#spring_rate").data("rate"))
  var summer_rate = parseFloat($("#summer_rate").data("rate"))
  var mortgage_rate = parseFloat($("#mortgage_rate").data("rate"))

  var formatMoney = function(amount) {
    return amount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
  }

  $(".inter").change(function(){
    fall_avail = parseFloat($("#fall_slide").val())
    winter_avail = parseFloat($("#winter_slide").val())
    spring_avail = parseFloat($("#spring_slide").val())
    summer_avail = parseFloat($("#summer_slide").val())
    fall_income = fall_avail/100.0 * fall_rate * 30.5 * 3
    winter_income = winter_avail/100.0 * winter_rate * 30.5 * 3
    spring_income = spring_avail/100.0 * spring_rate * 30.5 * 3
    summer_income = summer_avail/100.0 * summer_rate * 30.5 * 3
    total_income = fall_income + winter_income + spring_income + summer_income
    monthly_income = total_income/12.0
    net_cost = mortgage_rate - monthly_income
    $("#income_rate").text("- $" + formatMoney(monthly_income))
    $("#net_cost").text("$" + formatMoney(net_cost))
  })
</script>
{% endblock %}
</body>
