{% load static %}
<header id="page-header">
  <nav>
    <div class="left">
      <a class="logo brand" href="/">2Homez</a>
    </div>
    <!--end left-->
    <div class="right">
      <div class="primary-nav has-mega-menu">
        <ul class="navigation">
          <li class="active has-child"><a href="#nav-homepages">Home</a>
            <div class="wrapper">
              <div id="nav-homepages" class="nav-wrapper">
                <ul>
                  <li><a href="index-map-version-1.html">Map Full Screen Sidebar Results</a></li>
                  <li><a href="index-map-version-2.html">Map Horizontal Form</a></li>
                  <li><a href="index-map-version-3.html">Map Full Screen Form in Sidebar</a></li>
                  <li><a href="index-map-version-4.html">Map Form Under</a></li>
                  <li><a href="index-hero-version-1.html">Hero One Input Form</a></li>
                  <li><a href="index-hero-version-2.html">Hero Multiple Inputs</a></li>
                  <li><a href="index-hero-version-3.html">Hero Form Under</a></li>
                  <li><a href="index-hero-version-4.html">Hero Full Screen Slider</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li><a href="blog.html">Listings</a></li>
          <li><a href="contact.html">Methodology</a></li>
        </ul>
        <!--end navigation-->
      </div>
      <!--end primary-nav-->
      <div class="secondary-nav">
        <a href="#" data-modal-external-file="modal_sign_in.php" data-target="modal-sign-in">Sign In</a>
        <a href="#" class="promoted" data-modal-external-file="modal_register.php" data-target="modal-register">Register</a>
      </div>
      <!--end secondary-nav-->

    </div>
    <!--end right-->
  </nav>
  <!--end nav-->
</header>
<!--end page-header-->
