{% load static %}
<header id="page-header">
  <nav>
    <div class="left">
      <a class="logo brand" href="/">2Homez</a>
    </div>
    <!--end left-->
    <div class="right">
      <div class="primary-nav has-mega-menu">
        <ul class="navigation">
          <li class="active"><a href="/">Home</a>
          </li>
          <li><a href="/methodology">Methodology</a></li>
        </ul>
        <!--end navigation-->
      </div>
      <!--end primary-nav-->
    
      <!--end secondary-nav-->

    </div>
    <!--end right-->
  </nav>
  <!--end nav-->
</header>
<!--end page-header-->
